<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital E Gram Panchayat</title>
  <link rel="stylesheet" href="../assets/css/style.css">

  <!-- Firebase SDKs -->
  <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js"></script>
  <script type="module" src="https://www.gstatic.com/firebasejs/9.6.1/firebase-firestore.js"></script>

  <!-- Firebase config -->
  <script type="module" src="/firebase/firebase-config.js"></script>
</head>

<body>
  <div class="container">
    <h1>Welcome to Digital E Gram Panchayat</h1>
    <br>
    <a href="login.html" class="btn">Login</a>
    <a href="register.html" class="btn">Register</a>
  </div>
</body>

</html>